.ipynb_checkpoints/
__pycache__/
.vscode/
/data/QMNIST*.pickle
/defender_trained_models/
data/resnet50_amber-salad-1.pth
data/QMNIST_ppml_ImageFolder/
data/sanity_check_defender.png
data/sanity_check_reserve.png
resnet50_fm_defender.pth
resnet50_large_fm_defender.pth
small_fake_mnist__attack_mode_forward_target_domain/
large_fake_mnist__attack_mode_forward_target_domain/
data/QMNIST_ppml_ImageFolder.zip
data/QMNIST_ppml_flipped_ImageFolder.zip
data/QMNIST_ppml_flipped_ImageFolder/
data/CIFAR10_tabular_ppml.pickle
data/defender_flip20_idx.pickle
data/reserve_flip20_idx.pickle
data/y_defender_flipped20.pickle
data/y_reserve_flipped20.pickle
hz_intermediate_results/
hz_table.csv
